<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>📚 Book Collection</h1>
        <nav>
            <a href="/books">Home</a> | <a href="/books/form">Add Book</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 Library App</p>
    </footer>

</body>
</html>